@page
@model TicTacToeWebsite.Pages.DownloadsModel
@{
    ViewData["Title"] = "Downloads";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2 class="text-center" style="color:cornflowerblue;"><strong>Downloads</strong></h2>
<br /><br /><br /><br />
<h5 class="text-center text-capitalize" style="color:darkgray;">You Can also download TicTacToe App for your smartphone</h5>

<br />
<div class="row">
    <div class="col-md-4  col-lg-4  col-sm-4 col-xs-4 text-center">
        <a href="#" class="btn btn-default" style="color:darkgray;font-weight:bold;">Android App</a>
    </div>
    <div class="col-md-4  col-lg-4  col-sm-4 col-xs-4 text-center">
        <a href="#" class="btn btn-default" style="color:darkgray;font-weight:bold;">iOS App</a>
    </div>
    <div class="col-md-4  col-lg-4  col-sm-4 col-xs-4 text-center">
        <a href="#" class="btn btn-default" style="color:darkgray;font-weight:bold;">Windows App</a>
    </div>
</div>
<br /><br /><br /><br />
<h5 class="text-center text-capitalize" style="color:darkgray;">Wanna see source code of this website??<a href="https://github.com/sudesh1611/TicTacToeWebsite" target="_blank" style="color:darkgray;">Click Here</a></h5>
<br /><br /><br />