@page
@model TicTacToeWebsite.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="text-center">
        <h2 style="color:cornflowerblue;"><strong>TicTacToe</strong></h2>
    </div>
    <br />

    <div>

        <div class="row">
            <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-xs-12 text-center">
                <a class="btn btn-default" style="color:cornflowerblue;"><h6 style="color:cornflowerblue;"><strong>Single Player</strong></h6><span style="color:cornflowerblue;" class="text-capitalize">Play against our super intelligent bot</span></a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-xs-12 text-center">
                <a class="btn btn-default" style="color:cornflowerblue;"><h6 style="color:cornflowerblue;"><strong>Two Players</strong></h6><span style="color:cornflowerblue;text-transform:none;">Play Against A <i>Homo sapien sapien</i></span></a>
            </div>
        </div>
        <br />
    </div>
</div>

<br />
<br />
<br />
<br />
<br />


